* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none; // bug fix - DOUBLE CLICK ISSUE solved
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Pacifico&display=swap");

.theme-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .moon-sun {
    margin-top: 5px;
  }
}

body {
  h1,
  h2,
  h3,
  p,
  button {
    color: #212121;
    font-family: "Comfortaa", cursive;
    font-weight: 200;
  }

  .App {
    min-height: 100vh;
    transition: all 0.5s ease;
  }

  .animation-play {
    width: 20%;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgb(68, 68, 68);
    animation: spin 10s linear infinite;
  }

  .library-active {
    margin-left: 10%;
  }

  *::selection {
    color: #f7f7f7;
    background-color: #212121;
  }
}

@media screen and (max-width: 768px) {
  .song-container {
    padding-top: 0rem;
    img {
      width: 60%;
    }
  }
  .animation-play {
    width: 60%;
    border-radius: 50%;
    box-shadow: 2px 2px 7px rgb(68, 68, 68);
    animation: spin 10s linear infinite;
  }
}

// * THEME

// * App
.App.light {
  background-color: #f1f1f1;
  color: #000;
  transition: all 0.3s ease;
  h1 {
    color: #212121;
  }
}

.App.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
  h1 {
    color: #fff;
  }
}

// * nav
.nav-bar.light {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
  h1 {
    color: #212121;
  }
}

.nav-bar.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: inset 0 0 100px 1px #d4d4d420;
  h1 {
    color: #fff;
  }
}
//* player
.player.light {
  background-color: #f1f1f1;
  color: #000;
  transition: all 0.3s ease;
  h1,
  p {
    color: #212121;
  }
}

.player.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
  h1,
  p {
    color: #fff;
  }
  .animate-track {
    background: #383838;
  }
  svg {
    color: #fff;
  }
}
//* library-song
.library-song.light {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
  h1,
  h2,
  p {
    color: #212121;
  }
}

.library-song.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
  h1,
  h2,
  p {
    color: #fff;
  }
}

//* library
.library.light {
  background-color: #fff;
  color: #000;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 10px rgb(40, 40, 40);
  h1,
  h2,
  p {
    color: #212121;
  }
}

.library.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 5px rgb(148, 148, 148);
  h1,
  h2,
  p {
    color: #fff;
  }
  &::-webkit-scrollbar-track {
    background-color: #212121;
  }

  &::-webkit-scrollbar {
    width: 2px;
    background-color: #000000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border: none;
  }
  .selected {
    background-color: #d2d2d220;
    transition: all 0.3s ease;
    box-shadow: inset 0 0 100px 1px #d4d4d420;
  }
  .library-sticky {
    background-color: #212121;
    box-shadow: 1px 1px 5px #d9d9d920;
  }
}

//* song-container
.song-container.light {
  background-color: #f1f1f1;
  color: #000;
  transition: all 0.3s ease;
  h1,
  h2,
  p {
    color: #212121;
  }
}

.song-container.dark {
  background-color: #222;
  color: #fff;
  transition: all 0.3s ease;
  h1,
  h2,
  p {
    color: #fff;
  }
}

// * THEME
